@media(max-width:1400px) {}

@media(max-width:1300px) {
    .btn-slick-prev {
        left: 19%;

    }

    .btn-slick-next {
        right: 19%;

    }
}

@media(max-width:1200px) {
    .header {
        padding: 35px 50px 244px 20px;
        overflow: hidden;
    }

    .location {
        padding: 140px 20px;
    }

    .location-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .location-block:not(:last-child) {
        margin-bottom: 20px;
    }

    .news {
        padding: 140px 10px 140px 10px;
    }

    .news-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        gap: 45px;
    }

    .footer {
        padding: 70px 10px 78px 10px;
    }



}

@media(max-width:980px) {
    .footer-wrapper>div {
        width: 50%;
    }

}



@media(max-width:950px) {
    .news-wrapper {
        padding: 10px 20px 10px 20px;
        flex-wrap: wrap;

    }

    .news-wrapper {
        width: 85%;
        margin: 0 auto;
    }

    .news-left {
        padding-bottom: 30px;
    }

}

@media(max-width:850px) {

    .nav {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

    a.menu-link {
        color: #000;
    }

    .menu {
        background: #fff;
        position: absolute;
        left: 100%;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 2;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
        transition: all 0.5s ease;
    }

    .menu.active {
        left: 0;
        transition: all 0.5s ease;
    }

    .menu-list+.menu-list {
        margin-top: 30px;
        margin-left: 0px;
    }

    .desctop-btn {
        display: none;
    }

    .mobile-btn {
        display: block;
    }

    .mobile-menu {
        display: block;
    }

    .location-subtitle {
        width: 95%;
    }
}



@media(max-width:768px) {
    .location-subtitle {
        width: 95%;
        margin: 0 auto;
    }

    .location {
        padding: 70px 20px;
    }

    .header-bottom-title {
        font-size: 40px;
        line-height: 60px;
        width: 100%;
    }

    .header-bottom-text {
        width: 100%;
    }

    .footer-form {
        width: 100%;
        row-gap: 20pX;
        flex-direction: column;
        justify-content: center;
    }

    .input-email {
        width: 95%;
        margin: 0 auto;
    }

    .footer-btn {
        width: 95%;
        margin: 0 auto;
    }

    .footer-subscribe-title {
        font-size: 17px;
    }



}


@media(max-width:590px) {
    .footer {
        padding: 50px 10px 50px 10px;
    }

    .header {
        padding: 35px 10px 100px 10px;
    }

    .header-bottom {
        margin-top: 100px;
    }

    .news-right {
        width: 100%;
    }

    .news-right-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .inner-title {
        font-size: 35px;
    }

    .inner-subtitle {
        width: 100%;
    }

    .news-left {
        width: 100%;
    }

    .news-left img {
        width: 100%;
    }

    .footer-wrapper>div {
        width: 100%;
    }

    .slider {
        padding: 0 10px 60px 10px;
    }

    .slick-dots li button {
        width: 35px;
    }



}




@media(max-width:450px) {
    .location {
        padding: 70px 10px;
    }

    .header-bottom-title {
        font-size: 30px;
        line-height: 40px;
    }

    .location-block {
        width: 90%;
    }

    .inner-title {
        font-size: 35px;
        line-height: 40px;
    }

    .news-right {
        width: 100%;
    }

    .news-right {
        padding: 0;
    }

}

@media(max-width:320px) {}